a {
    text-decoration: none;
}

.appstore-icon {
    max-width: 100px;
}

.promo-icon {
    padding: 20px;
}

.appstore-button {
    margin-top: 10px;
    max-width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.appstore-title {
    font-size: 1.2em;
    font-weight: 900;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
}

.active {
    color: #3049AD !important;
    font-weight: 800;
}

.title-bar {
    background-color: #3049AD;
    padding-top: 10px;
    padding-bottom: 6px;
}

.nav-item {
    font-size: 14px;
    font-weight: 800;
}

.bg-notsolight {
    background-color: #e8e8e8;
}

.bg-darkblue {
    background-color: #070a1e;
}

.story-title {
    color: black;
    font-weight: 800;
}

.story-thumbnail {
    margin-top: 20px;
    padding-bottom: 5px;
}