a {
    text-decoration: none;
}

.appstore-icon {
    max-width: 80%;
}

.promo-icon {
    padding: 20px;
}

.appstore-button {
    max-width: 150px;
}

.appstore-title {
    font-size: 1.2em;
    font-weight: 900;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
}

.active {
    color: #3049AD !important;
    font-weight: 800;
}

.title-bar {
    background-color: #3049AD;
    padding-top: 10px;
    padding-bottom: 6px;
}

.nav-item {
    font-size: 14px;
    font-weight: 800;
}

.bg-notsolight {
    background-color: #e8e8e8;
}

.bg-darkblue {
    background-color: #070a1e;
}