body {
    background: #00ffee;
    background: linear-gradient(180deg, #00ffee 0%, #0558ea 100%) fixed; 
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

img.icon {
    height: 25px;
    width: 25px;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
}

.new {
    font-size: 8pt;
    color: #f9d554;
    text-shadow: 2px 2px #000000;
}

.myText {
    font-size: 12pt;
    text-align: center;
    font-family: Verdana;
    font-weight: bold;
    color: #ffffff;
    margin-top: 4px;
    margin-bottom: 40px;
}

.linkButton {
	/*box-shadow: 2px 2px 0px 0px #008fcc;*/
    background-color: transparent;
    border: 2px solid white;
    border-radius:2px;
	display: block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:17px;
	font-weight:bold;
    padding: 12px 24px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-decoration:none;
    text-align: center;
    min-width: 200px;
    max-width: 400px;
    /*text-shadow:0px -1px 0px #5b6178;
    width: 80%;*/
}


.linkButton:active {
	position:relative;
	top:1px;
}

a.linkText {
    color:#f7a32a;
}

a.linkText:visited {
    color:#f7a32a;
}

a.linkText:active {
    color:#f7a32a;
}

/*
@media (hover: none) {
    .linkButton {
        color: #ffffff;
        background-color:#3055b4;
    }

}
*/
